<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title>
        Mini Project 1
    </title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    
    <h1>Mini Project 1</h1>

    <form method="post" action="/pipeline">
        <button onclick="window.location.href = 'index.html';">Train a Model</button>
        <br>
    </form>
    <form method="post" action="/reading">
        <button onclick="window.location.href = 'prediction.html';">Make a Prediction</button>
        <br>
    </form>
    <footer>
    <p>INFO 6160</p>
    </footer>
</body>
</html>