<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title>
        Mini Project 1
    </title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    
    <h1>Model Accuracy</h1>

    <form method="post" action="/pipeline">
        <p>The Accuracy of the Model is: {{ accuracy }}</p>
    </form>

    <form method="get" action="/">
        <button onclick="window.location.href = 'home_page.html';">Home</button>
    </form>

    <footer>
    <p>INFO 6160</p>
    </footer>
</body>
</html>
